  

.no-top{
	padding-top:0!important;
}

.spacer-35{
	height:35px;
	width:100%;
}


/*--------------------------------------------------------------
	Site Header
--------------------------------------------------------------*/

.site-branding{
	padding:0;
}

.site-title{
	margin:0;
}	

.site-title a img{
	max-height:35px;
	width:auto;
}

.top-header{
	padding:10px 0;
}

.top-header-bg{
	background:#161616;
}

.top-header .top-left{
	float:left;
}

.top-header ul{
	margin:0;
	padding:0;
	list-style:none;
}	

.top-header ul li{
	float:left
}

.top-header .top-left ul li{
	margin: 0 20px 0 0
}

.top-header .top-left ul li a{
	color:#b3b3b3;
	font-size:12px;
	text-decoration:none;
	display:block;
	
}

.top-header .top-left ul li a i{
	color:#ad4a08;
	margin:0 10px 0 0;	
}

.top-header .top-right{
	float:right;
}

.top-header .top-right ul li{
	border-left:2px solid #b3b3b3;
}

.top-header .top-right ul li:first-child{
	border:none
}

.top-header .top-right ul li:first-child a{
	color:#ff6600;
	font-weight:700;
}

.top-header .top-right ul li a{
	color:#b3b3b3;
	font-size:12px;
	line-height:12px;
	text-decoration:none;
	text-transform:uppercase;
	padding:0 10px;
	display:block;
	 
	background:none;
}

.main-header{
	padding:20px 0;
	position:relative;
	z-index:99999;
}

.fix-header .main-header .container{
	position:relative
}

.fix-header .main-header .container:after{
	content: "";
	height:1px;
	width:100%;
	position:absolute;
	bottom:-20px;
	left:0;
	right:0;
	background:#fff
}

.main-header-bg{
	background:#242424;
	padding:20px 0;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.46);
	-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.46);
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.46);
	position:relative;
	z-index:999;
	border-bottom:none
}

.fix-header{
	position:absolute;
	top:0;
	left:0;
	right:0;
	z-index:9999;
}

.header-1 #site-navigation .cart a{
	background-color: #f89406; 
	background-size:25px 23px!important;
	border:1px solid #f89406;
}

.header-1 #site-navigation .cart i.fa-opencart{

	position: absolute;
	z-index: 2;
	margin: 14px 0 0 46px;
	color:#fff;
	font-size:20px;
}

.mobile-cart{
	position:absolute;
	right:60px;
	bottom:0;
	display:none;
}

.mobile-cart a{	
	font-size:15px;
	line-height:20px;
	text-transform:uppercase;
	color:#fff;
	border:1px solid #f89406;
	border-radius:20px;
	margin:6px 0;
	padding:7px 20px!important;
	 
	width:90px;
	position:relative;
	display:block;
}

.mobile-cart a:before{
	display:block;
	content: "\f23d";
	font-family: 'FontAwesome';
	position:absolute;
	top:7px;
	right:20px;
	font-size:18px
}


.header-3 .top-header .top-left ul li a{
	color:#fff
}	

.header-3 .top-header  .top-left ul li a i{
	color:#96b790
}


.header-3 .top-header .top-right ul li:first-child a,
.header-3 .top-header .top-right ul li a{
	color:#fff
}

.header-3 #site-navigation .cart a{
	border:1px solid #fff
}

#site-navigation{
	margin:0;
}

#site-navigation .navbar-collapse{
	padding:0;
}

#site-navigation .nav li a{
	font-size:15px;
	text-transform:uppercase;
	color:#fff;
	padding:14px 15px;
}

#site-navigation .nav > li > a:focus, 
#site-navigation .nav > li > a:hover {
    background: none;
    text-decoration: none;
}

#site-navigation .cart{
	margin:0 0 0 20px;
}

#site-navigation .cart a{
	border:1px solid #ff6600;
	border-radius:20px;
	margin:6px 0;
	padding:7px 20px!important; 
	width:90px;
	background-size:25px 23px!important;
	position:relative;
}

#site-navigation .cart a:before{
	display:block;
	content: "\f23d";
	font-family: 'FontAwesome';
	position:absolute;
	top:7px;
	right:20px;
	font-size:18px
}

.closecanvas{
	display:none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 ;
    padding: 0 ;
    /* font-family: 'Montserrat', sans-serif; */
}

/*slider */

.bannerbg {position: relative;
background-size: cover;
background: url(../images/1.jpg) no-repeat 0px 0px;
    height: 686px;}


/* top-header */

.tophead {text-align: right;padding-top: 16px; /*padding-right: 60px; */   font-size: 16px;}
.tophead label {color: #fff; }
.tophead select {color: #ff5e00;padding: 4px;    font-size: 16px;}


/*header */

.banner-w3lstexts {
    max-width: 760px;
    margin: 15em auto 0;
}
.banner-w3lstexts.text-white h1 {
    font-size: 70px;
    font-weight: 900;
    word-spacing: 4px;
    letter-spacing: 1px;
}
h4.text-uppercase {
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 12px;
}
.banner-w3lstexts p {
    margin: 0;
    padding: 0;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.9;
    color: #555656;
    font-family: 'Roboto', sans-serif;
}
a.banner-button, button.submit {font-size: 14px;
    background: #ff5e00;
    color: #fff;
    letter-spacing: 1px;
    border: none;
    padding: 10px 23px;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}
a.banner-button:hover{transform: translateY(10px);    background: #000;color: #fff;}

/* search */



.serach-w3agile {
    background: #ff5e00;
}
h3.title-w3ls {
    color: #000;
    font-size: 34px;
    font-weight: bold;
}
.place-grid h5 {
    font-size: 22px;
    color: #fff;
    letter-spacing: 1px;
}
.sel {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    margin-top: 1em;
    outline: none;
    border: none;
    letter-spacing: 1px;
}
.place-grid input[type="submit"] {
    width: 100%;
    background: #000;
    border: none;
    outline: none;
    color: #fff;
    padding: 10px;
    letter-spacing: 1px;
    font-size: 16px;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    transition: .5s all;
    margin-top: 2.7em;
}

/* house-scene */

.middle-w3l {
    background: url(../images/bg.jpg) no-repeat right;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
}
.left-build-wthree {
    background: rgba(255, 255, 255, 0.89);
}
.left-build-wthree h4 {
    color: #000;
    font-size: 35px;
    font-weight: 700;
}
.left-build-wthree h6 {
    font-size: 21px;
    letter-spacing: 1px;
    color: #252525;
}
.middle-w3l p {
    margin: 0;
    padding: 0;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.9;
    color: #555656;
    font-family: 'Roboto', sans-serif;
}
.left-build-wthree ul li {
    display: block;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
}
.left-build-wthree ul li i {
    color: #ff5e00;
    font-size: 26px;
}

/* property-type */

.site-section.site-section-sm {
    padding: 4em 0;
}
.site-section-title h2 {
    /* text-transform: uppercase; */
    color: #ff5e00;
    font-weight: 700;
    font-size: 34px;
    letter-spacing: .1em;
    text-align: center;
}
.prop-entry img, .prop-entry figure {
    margin-bottom: 0;
}
.prop-entry .prop-text {
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 2;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}
.prop-entry .prop-text:before {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.prop-entry .prop-text .inner {
    padding-left: 20px;
    padding-right: 20px;
}
.prop-entry .prop-text .price {
    background: #ff5e00;
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 15px;
}
.prop-entry .prop-text .title {
    font-size: 26px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 0;
}
.prop-entry .prop-text .location {
    font-size: 18px;
    color: #e6e6e6;
}

.aboutright-agilewthree {
    padding: 1em 3em 0em 7em;
}
.left-build-wthree {
    background: rgba(255, 255, 255, 0.89);
}

.property-type{ background: #fff; min-height: 1060px;}

/*client */
.testimonials {
    background: url(../images/bg2.jpg) no-repeat right;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
	    min-height: 600px;
}
h3.tittle {
    color: #000;
    font-size: 38px;
    font-weight: 700;
}
p.test-title-paara {
    color: #eee;
	margin: 0;
    padding: 0;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.9;
}
.w3_testimonials_grids {
    margin: 3em auto 0;
    width: 80%;
    text-align: center;
}
.w3_testimonials_grid {
    padding-bottom: 4em;
}
.w3_testimonials_grid p {
    color: #fff;
    line-height: 1.8;
}
ul.testi-w3ls-rate li {
    display: inline-block;
}
ul.testi-w3ls-rate li i {
    color: #ff5e00;
    font-size: 12px;
}
.w3_testimonials_grid img {
    margin: 0 auto;
}

/*client  */

/*About-Us */

.about-prop p {
    margin: 0;
    padding: 0;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.9;
    color: #555656;
    font-family: 'Roboto', sans-serif;
}
.features-grid-left i {
    color: #fff;
    font-size: 1.6em;
    width: 70px;
    height: 70px;
    border: 2px solid #ff3c41;
    text-align: center;
    border-radius: 50%;
    line-height: 2.5;
    box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.25);
    background: #ff3c41;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
/*end-of-About-Us */


/* start-of-property-detail */
.section-full {
    padding-top: 86px;
    padding-bottom: 38px;
    background-image: url(../images/elements-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.section-full h1, .section-full p {
    color: #fff;font-size:48px;
}
.prop-detail{background: #fff;}
.prop-detail h2{font-size: 36px;
    margin: 20px 0px 10px 0px;}
.prop-detail hr {
    display: inline-block;
    width: 93%;
    border: 0;
    border-top: 2px solid #ff5e00;
    margin-top: 0;
    margin-bottom: 0;
}

.flat-img img{width: 100%}








/* end-of-property-detail */























